*{
    margin: 0;
    padding: 0;
}
body {
    background-image: url(https://i.pinimg.com/originals/8e/46/15/8e46150f790fbefe438d9c2767c32ad1.gif);
    background-size: 30%;
}
.Sun{
    height: 150px;
    width: 150px;
    border-radius: 50% ;
    background-color: gold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.mercuryOrbit{
    height: 200px;
    width: 280px;
    border-radius: 50%;
    border: 2px solid  white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.venusOrbit{
    height: 280px;
    width: 450px;
    border-radius: 50%;
    border: 2px solid  white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.earthOrbit{
    height: 450px;
    width: 650px;
    border-radius: 50%;
    border: 2px solid  white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.marsOrbit{
    height: 680px;
    width: 830px;
    border-radius: 50%;
    border: 2px solid  white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.jupiterOrbit{
    height: 840px;
    width: 1200px;
    border-radius: 50%;
    border: 2px solid  white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.saturnOrbit{
    height: 1040px;
    width: 1450px;
    border-radius: 50%;
    border: 2px solid  white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.uranusOrbit{
    height: 1100px;
    width: 1650px;
    border-radius: 50%;
    border: 2px solid  white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.neptuneOrbit{
    height: 1400px;
    width: 2000px;
    border-radius: 50%;
    border: 2px solid  white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.mercury{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-size:cover;
background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/8/87/Planet_Mercury_-_GPN-2000-000465_-_transparent.png/1200px-Planet_Mercury_-_GPN-2000-000465_-_transparent.png?20161213063334) ;    
position: absolute;
    left: 57%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.venus{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-size: cover;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/9/93/Venus_globe_-_transparent_background.png/640px-Venus_globe_-_transparent_background.png);
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translate(-50%,-50%);
}
.earth{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-size: cover;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/4/43/The_Earth_seen_from_Apollo_17_with_transparent_background.png/640px-The_Earth_seen_from_Apollo_17_with_transparent_background.png");
    position: absolute;
    left: 40%;
    top: 30%;
    transform: translate(-50%,-50%);
}
.mars{
    height: 70px;
    width: 70px;
    border-radius:50% ;
    background-size: cover;
    background-image: url(https://static.vecteezy.com/system/resources/thumbnails/020/922/027/small_2x/isolated-realistic-mars-illustration-png.png) ;
    position: absolute;
    left: 65%;
    top: 25%;
    transform: translate(-50%,-50%);
}
.jupiter{
    height: 80px;
    width: 80px;
    border-radius:50% ;
    background-size: cover;
    background-image: url(https://png.pngtree.com/png-vector/20230831/ourmid/pngtree-3d-jupiter-planet-illustration-png-image_9199325.png);
    position: absolute;
    left: 25%;
    top: 75%;
    transform: translate(-50%,-50%);
}
.saturn{
    height: 90px;
    width: 90px;
    border-radius:50% ;
    background-size: cover;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/0/0a/Transparent_Saturn.png/640px-Transparent_Saturn.png);
    position: absolute;
    left: 20%;
    top: 80%;
    transform: translate(-50%,-50%);
}
.uranus{
    height: 100px;
    width: 100px;
    border-radius:50% ;
    background-size: cover;
    background-image:url(https://upload.wikimedia.org/wikipedia/commons/thumb/1/16/Uranus2-transparent.png/640px-Uranus2-transparent.png);
    position: absolute;
    right: 5%;
    top: 40%;
    transform: translate(-50%,-50%);
}
.neptune{
    height: 110px;
    width: 110px;
    border-radius:50% ;
    background-size: cover;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/7/7d/Transparent_Neptune.png/640px-Transparent_Neptune.png);
    position: absolute;
    right: 90%;
    top: 20%;
    transform: translate(-50%,-50%);
}